@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('/images/fondo2.webp');
  background-color: black;
  background-size: cover;        /* que llene toda la pantalla */
  background-repeat: no-repeat;  /* que no se repita */
  background-attachment: fixed;  /* efecto parallax, siempre cubre */
  background-position: center;   /* centrada */
}

@layer utilities {
  .animate-scroll {
    animation: scroll 18s linear infinite;
    display: flex;
    width: max-content;
  }
}

@keyframes glowMove {
  0% {
    filter: drop-shadow(0 0 0.1px #5c0080)
            drop-shadow(0 0 1px #5c0080)
            drop-shadow(0 0 0.1px #5c0080);
  }

  50% {
    filter: drop-shadow(0 0 0.1px #FFD700)
            drop-shadow(0 0 1px #FFD700)
            drop-shadow(0 0 0.1px #FFD700);
  }

  100% {
    filter: drop-shadow(0 0 0.1px #5c0080)
            drop-shadow(0 0 1px #5c0080)
            drop-shadow(0 0 0.1px #5c0080);
  }
}

.glow-animation {
  animation: glowMove 3s ease-in-out infinite;
}
